<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ryan Scarbel">
  <link rel="stylesheet" href="../../assets/css/skeleton.css">
  <link rel="stylesheet" href="../../assets/css/skeleton.css">
  <title>View Pokemon</title>
  <style>tr{padding-left: 12vw;padding-right: 12vw;}td{text-align: center;margin:auto;};</style>
</head>
<body>

  <div class="container">

    <h1>View Pokemon</h1>


    <form action="/pokedex" method="GET">
      <button id="edit" type="button">Edit Pokemon</button>

    <table>
        <tr><td name="name" id="name"><%=pokemonData.name%></td></tr>
        <tr><td ><%=pokemonData.id%></td></tr>
        <tr><td><%=pokemonData.type[0]%></td></tr>
        <tr><td><img style="height:6em;" src="<%=pokemonData.img%>" alt="<%=pokemonData.name%> Image"></td></tr>
    </table>
  </form>

  <a href="/pokedex"><button>Back to Home</button></a>

    <script>
      const index = <%=pokemonData.id - 1%>
      let editMode = false;
      let pokemonName = '<%=pokemonData.name%>';
      const editButton = document.querySelector('#edit');
      const nameDisplay = document.querySelector('#name');
      const form = document.querySelector('form');

      editButton.addEventListener('click', () => {
        if (editMode) {
          form.submit();
        } else {
          form.action = `/pokedex/${index}?_method=PUT`;
          form.method = 'POST';
          editButton.textContent = 'Save Changes';
          nameDisplay.innerHTML = `<input name="name" type="text" value="${pokemonName}" />`;
        }
        editMode = !editMode
      })
    </script>
  </div>
</body>
</html>