<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ryan Scarbel">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <style>#headings:hover{background-color: rgb(255, 238, 238);cursor:default;}body{background-color: rgb(241, 255, 238);}</style>
  <title>Pokedex</title>
</head>
<body>
  <div class="container">
    <h1>Pokedex Home</h1>
    <h3>Explore your caught pokemon!</h3>
    <div style="display:flex;">
      <p>Number of pokemon caught: <%=caught.length%></p>
      <div style="margin-left:25px;display:flex;flex-direction: column;">
        <h5 style="margin:auto;">Actions</h5>
        <a href="/pokedex/new"><button style="color:green;">Add Pokemon</button></a>
        <%if (caught.length > 0) {%>
        <a href="/pokedex/release"><button style="color:red;">Release Pokemon</button></a><%}%>
      </div>
    </div>
    <table>
      <tr id="headings">
        <th>Name</th>
        <th>ID</th>
        <th>Type</th>
        <th>Image</th>
      </tr>
      <%for (let i = 0; i < caught.length; i++ ){%>
      <tr onclick="location.replace('/pokedex/entry/<%=(pokemon[caught[i] - 1].id - 1)%>')">
        <td><%=pokemon[caught[i] - 1].name%></td>
        <td><%=pokemon[caught[i] - 1].id%></td>
        <td><%=pokemon[caught[i] - 1].type[0]%></td>
        <td><img style="height:3em;" src="<%=pokemon[caught[i] - 1].img%>" alt="<%=pokemon[caught[i] - 1].name%> Image"></td>
      </tr>
      <%}%>
    </table>
  </div>
</body>
</html>