<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ryan Scarbel">
  <link rel="stylesheet" href="../../assets/css/normalize.css">
  <link rel="stylesheet" href="../../assets/css/skeleton.css">
  <title>Release Pokemon</title>
</head>
<body>
  <div class="container">
    <h1>Release Pokemon</h1>
    <button><a href="/pokedex">Back to Home</a></button>
    <table>
      <tr id="headings">
        <th>Name</th>
        <th>Image</th>
        <th></th>
      </tr>
      <%for (let i = 0; i < caught.length; i++ ){%>
      <tr>
        <td><%=pokemon[caught[i] - 1].name%></td>
        <td style="display:flex;justify-content: center;"><img style="height:3em;" src="<%=pokemon[caught[i] - 1].img%>" alt="<%=pokemon[caught[i] - 1].name%> Image"></td>
        <form id="form-<%=i%>" action="/pokedex/<%=i%>?_method=DELETE" method="POST">
        <td><img onclick="document.querySelector('#form-<%=i%>').submit()" style="height:2em;background-color:#FFFFFF;border-radius:3px 3px 7px 7px;" src="../../assets/trashcanIcon.png" alt="Trash can icon"></td></form>
      </tr>
      <%}%>
    </table>

    <button><a href="/pokedex">Back to Home</a></button>
    </div>
</body>
</html>